<template>
  <div class="about" id="about">
    <h1>This is an about page</h1>
    <Game/>
  </div>
</template>

<script>
// @ is an alias to /src
import Game from '@/components/Game.vue'

export default {
  name: 'about',
  components: {
    Game
  }
}
</script>
