<template>
    <div id="root">
        <div class="game" id="game">
            <div id="answer-container">
                <label for="answer" id="answer-label"></label>
                <input type="text" id="answer" placeholder="?" oninput="this.style.width = ( 9 + answer.value.length * 5) + 'vw';"/>
            </div>
        </div>
        dsadsa
    </div>
</template>

<script>
import Phaser from 'phaser'

/*
 *  This example show how to load complex shapes created with PhysicsEditor (https://www.codeandweb.com/physicseditor)
 */

var game;

const config = {
    type: Phaser.AUTO,
    parent: 'game',

    width: 1200,
    height: 600,
    scene: {
        preload: preload,
        create: create,
        update: update,
    },
    physics: {
        default: "matter",
        matter: {
            autoUpdate: false,
            debug: true,
            gravity: {
                x: 0,
                y: 1
            }
        }
    },
    callbacks: {
        postBoot: function (game) {
            // In v3.15, you have to override Phaser's default styles
            game.canvas.style.width = '100%';
            game.canvas.style.height = '100%';
            game.canvas.style["min-width"] = "500px";
        }
  }
};

function preload() {
    // Load sprite sheet generated with TexturePacker

    this.load.atlas('sheet', 'assets/physics/fruit-sprites.png', 'assets/physics/fruit-sprites.json');

    // Load body shapes from JSON file generated using PhysicsEditor
    this.load.json('shapes', 'assets/physics/fruit-shapes.json');

    this.load.image('cup', 'assets/game-specific/cup-multiplication/cup.png');
    this.load.image('apple', 'assets/game-specific/cup-multiplication/apple.png');
    this.load.image('apple_outline', 'assets/game-specific/cup-multiplication/apple_outline.png');
    this.load.json('cup_shape', 'assets/game-specific/cup-multiplication/cup-shape.json');
    this.load.script('webfont', 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js');
}

function getRandomInt(min, max) {
    min = Math.ceil(min);
    max = Math.floor(max);
    return Math.floor(Math.random() * (max - min + 1)) + min;
}

var answer_container = null;
var answer = null;
var answer_label = null;
var game_container = null;

var answer_position = 0;

function create() {
    var cup_shape = this.cache.json.get('cup_shape');

    answer_container = document.getElementById("answer-container");
    game_container = document.getElementById("game");
    answer = document.getElementById("answer");
    answer_label = document.getElementById("answer-label");

    setInputFilter(answer, function(value) {
        return /^-?\d*$/.test(value);
    });

    answer_position = game.config.height/1.5;

    var cups = [];
    var answer_selection = [];

    //var width = this.textures.get('cup').source[0].width;
    var cups_n = getRandomInt(1, 5);
    var balls_n = getRandomInt(1, 10);
    var increment = game.config.width/cups_n;

    answer_label.innerHTML = cups_n + "x" + balls_n + " =";

    var x = increment/2.0;
    var i, j;
    for (i = 0; i < cups_n; i++)
    {
        var cup = this.matter.add.sprite(200, 50, 'cup', '', {shape: cup_shape.cup});
        cup.x = x;
        cup.y = game.config.height/2.0 - this.textures.get('cup').source[0].height/2.0;
        cups.push(cup);

        for (j = 0; j < balls_n; j++)
        {
            var ball = this.matter.add.image(x, cup.y - (20 + 10*j), 'apple');
            ball.setCircle();
            ball.setScale(0.05);
            ball.setMass(100.0);
            ball.setFriction(1);
            ball.setFrictionAir(0.1);
        }

        x += increment;
    }

    for (i = 0; i < 5; i++)
    {
        for (j = 0; j < 10; j++)
        {
            x = game.config.width - (10 - j)*50 + 25;
            var y = (25 + 50*i);
            var ball_outline = this.add.image(x, game.config.height - y, 'apple_outline');
            ball_outline.setScale(0.05);
            ball_outline.i = i*10 + j;
            ball_outline.setInteractive();
            answer_selection.push(ball_outline);

            //ball_outline.setTint(0x222222, 0x222222, 0x222222, 0x222222);
        }
    }

    var add = this.add;
    var input = this.input;
    var text;
    WebFont.load({
        google: {
            families: [ 'Inconsolata']
        },
        active: function ()
        {
            //text = add.text(16, 0, cups_n + "x" + balls_n + " = ?", { fontFamily: 'Inconsolata', fontSize: 160, color: '#ffffff' });
            //text.y = game.config.height/1.5;
            //input.once('pointerdown', function () {
            //    t.setFontSize(64);
            //});
        }
    });

    this.input.on('pointerdown', function (pointer) {
        console.log("Pointer down: ");
        console.log(pointer);
        //this.matter.add.sprite(pointer.x, pointer.y, 'sheet', 'banana', {shape: shapes.banana});
    }, this);

    this.input.on('gameobjectup', function (pointer, gameObject)
    {
        for (var i = 0; i < 50; i++)
        {
            if (i <= gameObject.i)
                answer_selection[i].setTexture("apple");
            else
                answer_selection[i].setTexture("apple_outline");
        }

        answer.value = (gameObject.i + 1).toString();
        var length = answer.value.length < 1 ? 1 : answer.value.length;
        answer.style.width = (length * 9) + 'vw';
        //gameObject.emit('clicked', gameObject);
    }, this);
}

function initialize()
{
    game = new Phaser.Game(config);
}

var last_frame = 0;
var last_stepped = 0;
var frame = 0;
function update()
{

    var now = (new Date()).getTime();
    var fps = 1000.0/(now - last_frame);
    last_frame = now;
    /*if (frame%100 == 0)
    {
        console.log(document.getElementById("game").getBoundingClientRect())
        console.log(document.getElementById("game").offsetWidth);
        console.log(this.game.canvas.height);
    }*/

    //var rect = document.getElementById("game").getBoundingClientRect();
    var el = answer_container;
    el.style.position = "absolute";
    el.style.top = (answer_position*(game_container.offsetHeight/this.game.canvas.height).toString()) + "px";

    var steps = Math.round((now - last_stepped)/(1000/60.0));
    if (steps > 5)
        steps = 5;
    for (var i = steps; i > 0; i--)
    {
        this.matter.step(1000/60.0);
        last_stepped = now;
    }

    frame += 1;
}

function setInputFilter(textbox, inputFilter) {
  ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function(event) {
    textbox.addEventListener(event, function() {
      if (inputFilter(this.value) && this.value.length < 3) {
        this.oldValue = this.value;
        this.oldSelectionStart = this.selectionStart;
        this.oldSelectionEnd = this.selectionEnd;
      } else if (this.hasOwnProperty("oldValue")) {
        this.value = this.oldValue;
        this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
      }
    });
  });
}

export default {
  name: 'Game',
  props: {
    msg: String
  },
  mounted(){
        initialize();
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.game {
    margin: auto;
    position: relative;
    min-width: 500px;
}

#answer, #answer-label {
    font-family: 'Inconsolata', monospace;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 10vw;
    white-space: nowrap;
    border: 1px solid red;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

#answer-label
{
    padding: 3vw;
}

#answer
{
    width: 10vw;
}

#answer-container {
    height: 50px;
    display: flex;
    align-items: center;
    position: absolute;
}

</style>