<template>
  <div class="hello">

  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data () {
    return {
      msg2: "hi"
    }
  },

  computed: mapState([
    // map this.count to store.state.count
    'count'
  ])
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.hello {
    border-radius: 25px;
    background: #73AD21E0;
    padding: 20px;
    width: 100%;
    height: 100%; 
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
