<style src="./css/main.css"></style>

<template>
  <div class="grid-container">
      <div class="head"><img alt="IFOES logo" src="assets/ifoes-logo.png"></div>
      <div class="nav">
        <router-link to="/">Home</router-link> |
        <router-link to="/about">Game Example</router-link>
      </div>
      <div class="main"><router-view/>MAIN</div>
      <div class="foot">FOOT</div>
    </div>
  </div>
</template>

<style>
#app {

  background-color: #0d2347;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  background-color: #0d2347;

  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
}

.grid-container {
  display: grid;

  grid-template-areas: "head head"
                       "nav  nav"
                       "main main"
                       "foot  foot";
}

.head
{
  grid-area: head;
}

.nav
{
  padding: 30px;
  grid-area: nav;
}

.nav a {
  font-weight: bold;
  color: #2c3e50;
}

.nav a.router-link-exact-active {
  color: #42b983;
}

.main
{
  grid-area: main;
}

.foot
{
  grid-area: foot;
}

</style>

<script>
import HelloWorld from './components/HelloWorld.vue'

export default {
  components: {
    HelloWorld
  }
}
</script>